[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A simple lua program
[access "refs/*"]
	owner = group user/zygimantus (zygimantus)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/zygimantus (zygimantus)
	label-Verified = -1..+1 group user/zygimantus (zygimantus)
	push = group user/zygimantus (zygimantus)
	read = group user/zygimantus (zygimantus)
	rebase = group user/zygimantus (zygimantus)
	removeReviewer = group user/zygimantus (zygimantus)
	submit = group user/zygimantus (zygimantus)
[access "refs/heads/*"]
	create = group user/zygimantus (zygimantus)
	push = +force group user/zygimantus (zygimantus)
	pushMerge = group user/zygimantus (zygimantus)
	read = group user/zygimantus (zygimantus)
[access "refs/tags/*"]
	push = group user/zygimantus (zygimantus)
	push = +force group user/zygimantus (zygimantus)
